.logo {
	width: 100px;
	margin-top:  30px;
}
nav{
	margin-top: 25px;
}
.banner{

	margin-top: 30px;
}

header {
	margin-bottom: 30px;
	display: inline-block;
}

.active a {
	color: red;
}

li, nav, .logo {
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
}

.image {
	margin-top: 30px;
	margin-left: 30px;
}
.text {
	display: inline-block;
	width: 800px;
	vertical-align: top;
	margin-top: 15px;
	margin-left: 30px;
}
p {
	margin-top: 10px;
}

.number {
	font-size: 50px;
    color: white;
	width: 56px;
	height: 56px;
	margin-left: 30px;
	margin-top: 30px;
 background-color: blue;
}

.month {
	margin-top: 0px;
	margin-left: 30px;
	font-size: 23px;
	color: blue;
}

.tittle {
	margin-left: 30px;
	margin-top: 20px;
}

.facebook-icon  {
	
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	height: 30px;	
}
.youtube {
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	height: 30px;
}